* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:large;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    position: fixed;
}

header {
    position: absolute;
    top: 0; left: 0; right: 0;
    background: rgba(68,68,68, 0.9);
    color: white;
    text-align: center;
    padding: 0.5em 1em;
    z-index: 10;
}

.ios header {
    padding: 1.5em 1em 0.3em 1em;
}

header h1 {
    font-size: 1.2em;
    margin: 0;
    font-weight: normal;
}

nav {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    background-color: rgba(68,68,68, 0.9);;
    padding: 0.3em 1em;
    text-align: right;
    z-index: 10;
}

nav button {
    border: 0;
    background: none;
    color: white;
    font-size: 1em;
    margin: 0%;
    display: inline-block;
    padding: 0.5em;
    outline: none;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    padding: 2.3em 0 3.5em 0;
    overflow: auto;
}

.ios main {
    padding: 3.5em 0 3.5em 0;
}

ul.listview {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.listview a {
    display: block;
    text-decoration: none;
    color: #444;
    background-color: white;
    padding: 0.8em 1em;
    border-bottom: 1px solid #999;
}

ul.listview img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-right: 1em;
    vertical-align: middle;
}